<h2>Table Data</h2>
  <br>
  <br>
  <img src='~/img/logo.png' alt="Restaurant Logo" height="165px" width="165px" class="logo">
  <div id="navBar">
    <ul class="nav nav-tabs animated bounceInDown">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/restaurants">Restaurants</a></li>
      <li role="presentation"><a href='/restaurants/create'>Add New Restaurant</a></li>
      <li role="presentation"><a href='/cuisine'>Cuisines</a></li>
      <li role="presentation"><a href='/cuisine/create'>Add New Cuisine</a></li>
      @* <li role="presentation">@Html.ActionLink("See all Animals", "Index", "Animals")</li>
      <li role="presentation">@Html.ActionLink("Add new Animal", "Create", "Animals")</li> *@
    </ul>
  </div>